In [16]:
import sqlalchemy as sqla
import pandas as pd

sql = '''SELECT 
         LastName,
         FirstName,
         Track.Name,
         Album.Title    
         from Customer 
         INNER JOIN Invoice 
             ON Invoice.CustomerId = Customer.CustomerId
         INNER JOIN InvoiceLine
             ON InvoiceLine.InvoiceId = Invoice.InvoiceId
         INNER JOIN Track
             ON Track.TrackId = InvoiceLine.TrackId
         INNER JOIN Album
             ON Album.AlbumId = Track.AlbumId
         ORDER BY LastName, FirstName
        ;'''
db = sqla.create_engine('sqlite:///Chinook_Sqlite.sqlite')
pd.read_sql(sql, db).head()

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas